<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Track</title>
</head>
<body>
<header>
    <div class="header-with-line">
        <div class="header-container">
            <div class="label">
                <img src="/static/images/icon.png" alt="icon" class="icon">
                <a class="icon-text" href="http://localhost:8000/main">MusicWave</a>
            </div>
            <nav class="navigation">
                <ul>
                    <li><a class="a" href="http://localhost:8000/main">Домой</a></li>
                    <li><a class="a" href="http://localhost:8000/search">Поиск</a></li>
                    <li><a class="a" href="http://localhost:8000/library">Медиатека</a></li>
                    <li><a class="a" href="http://localhost:8000/profile">Профиль</a></li>
                    <li><a class="a exit" href="http://localhost:8000">Выход</a></li>
                </ul>
            </nav>
        </div>
        <div class="line"></div>
    </div>
</header>
<main>
    <div class="main-container-track">
        <div id="user" >

        </div>
        <div class="line bottom"></div>
        <h2 class="text">Топ Треков</h2>
        <div id="track-list">

        </div>
        <div class="line bottom"></div>
        <h2 class="text">Альбомы</h2>
        <div id="album-list">

        </div>


    </div>
</main>
<footer>
    <div class="footer-container">
        <div class="line-foot"></div>
        <div class="content">
            <div class="label-foot">
                <img src="/static/images/icon.png" alt="icon" class="icon-foot">
                <a class="icon-text-foot" href="http://localhost:8000/main">MusicWave</a>
            </div>
            <a href="#" class="icon-git-container">
                <img src="/static/images/github.svg" alt="git" class="icon-git">
            </a>
            <a href="#" class="icon-git-container">
                <img src="/static/images/ln.svg" alt="git" class="icon-ln">
            </a>
            <a href="#" class="icon-git-container">
                <img src="/static/images/tg.svg" alt="git" class="icon-tg">
            </a>
        </div>
    </div>
</footer>
<script type="module" src="/static/artist.js"></script>
</body>
</html>