<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/recommendation.css">
    <title>Recommendation</title>
</head>
<body>
<main>
    <div class="circle"></div>
    <form class="recommendation-form-container margin-top" >
        <h1 class="form-title">
            Рекомендации
        </h1>
        <h3 class="form-subtitle">
            Выберите жанры музыки, которую вы хотите видеть у себя в рекомендациях
        </h3>
        <form class="form-fields">
            {{range .}}
                <label class="form-field">
                    <div class="checkbox-frame">
                        <input type="checkbox" name="genre" class="input-genre" value="{{.Id}}">
                    </div>
                    {{.Name}}
                    <br>
                </label>
            {{end}}
            <div class="form-buttons">
                <button class="button" type="submit">Подтвердить</button>
            </div>
        </form>
    </form>
</main>
<script type="module" src="/static/recommendation.js"></script>
</body>
</html>