<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/singInCSS.css">
    <title>Auth</title>
</head>
<body>
<header>
    <main>
        <div class="circle"></div>
        <form class="register-form-container">
            <h1 class="form-title">
                Сбросить пароль
            </h1>
            <div class="form-fields">
                <div class="form-field">
                    <input type="text" placeholder="Username" name="username">
                </div>
                <div class="form-field">
                    <input type="text" placeholder="Email" name="email">
                </div>
                <div class="form-buttons">
                    <button class="button" type="submit">Send</button>
                </div>
            </div>
        </form>
    </main>
</header>
<script type="module" src="/static/reset-email.js"></script>
</body>
</html>