*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #F1F5FE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-container{
    width: 250px;
    height: 50px;
    display: flex;
    margin-top: 30px;
}
.icon {
    width: 50%;
    height: 100%;
    display: flex;

}
.music-wave{
    margin-left: 10px;
    color: #247FFF;
    align-self: center;
    display: flex;
}

.main-container{
    max-width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.first-part{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.text{
    font-weight: normal;
    text-align: center;
}
.button{
    margin: auto;
    margin-top: 30px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    width: 40%;
    background: #247FFF;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    border: none;
}
.button:hover{
    background-color: #0D6CF2;
}
